@model ToolsMarket.App.ViewModels.PedidoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PedidoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cpf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
