@model ToolsMarket.App.ViewModels.PedidoViewModel

@{
    ViewData["Title"] = "Carrinho - ";
}

<div class="container carrinho">

    @if (Model != null)
    {
        <div class="titulo">
            <h5>Carrinho </h5>
            <span>Clique em finalizar compra para efetuar o seu pedido</span>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        PRODUTO
                    </th>
                    <th>
                        PREÇO UNITÁRIO
                    </th>
                    <th>
                        QUANTIDADE
                    </th>
                    <th>
                        SUBTOTAL
                    </th>
                    <th>
                        EXCLUIR
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ItensPedido)
                {
                    <tr>
                        <td>
                            <div class="produto-info">
                                <div class="imagemProduto">
                                    <img src="~/images/produtos/@item.Produto.Imagem" alt="@item.Produto.Imagem" />
                                </div>
                                <div class="descricao">
                                    <div class="tituloProduto"><strong>@item.Produto.Nome</strong></div>
                                    <div class="statusProduto"><span>Disponibilidade: </span><strong>@item.Produto.Status</strong></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <strong>@item.Produto.ValorUnitario.ToString("C")</strong>
                        </td>
                        <td>
                            <form method="post" class="qtdCarrinho">
                                <input type="hidden" value="@item.Produto.Id" name="id" />
                                <button type="submit" asp-action="RemoverQtd" asp-controller="Pedidos" class="btn">-</button>
                                <input readonly class="qtd" type="text" name="qtd" value="@item.Quantidade" placeholder="@item.Quantidade" />
                                <button type="submit" asp-action="AdicionarQtd" asp-controller="Pedidos" class="btn">+</button>
                            </form>
                        </td>
                        <td>
                            <strong>@item.SubTotal.ToString("C")</strong>
                        </td>
                        <td>
                            <form method="post" class="remover-produto">
                                <input type="hidden" value="@item.Produto.Id" name="id" />
                                <button class="delete-btn" type="submit" asp-action="RemoverProduto" asp-controller="Pedidos" class="btn"><i class="fa fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                }
                <tr class="subtotal">
                    <td colspan="3"></td>
                    <td colspan="2">
                        <span>Subtotal:</span>
                        <strong>@Model.ValorTotal.ToString("C")</strong>
                    </td>
                </tr>
                <tr class="frete">
                    <td colspan="2">
                        <div class="frete-campos">
                            <div class="frete-title">
                                <span><i class="fa fa-truck"></i></span>
                                <strong>CALCULE O PRAZO E O FRETE</strong>
                            </div>
                            <div class="frete-input">
                                <input name="cep" type="tel" placeholder="Digite seu CEP" maxlength="9" />
                                <button type="submit" class="btn">calcular</button>
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="vazio"></td>
                </tr>
                <tr class="total">
                    <td colspan="2" class="vazio"></td>
                    <td colspan="3">
                        <div class="valor">
                            <span>Total:</span>
                            <strong>@Model.ValorTotal.ToString("C")</strong>
                        </div>
                        <div class="forma-pagamento">
                            <p class="forma-pgt" style="font-size: .7rem!important;">ou em até <strong>@ViewBag.QtdParcelas x</strong> de <strong>@ViewBag.ValorParcela.ToString("C")</strong> sem juros</p>
                        </div>
                    </td>
                </tr>
                <tr class="finalizar-compra">
                    <td colspan="1" class="imagem">
                        <img src="~/images/ssl-certificate.png">
                    </td>
                    <td colspan="4">
                        <div class="buttons">
                            <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Continuar comprando</a>
                            <form method="post" class="finalizar-compra">
                                <input type="hidden" value="@Model.Id" name="id" />
                                <button class="btn-finalizar" type="submit" asp-action="#" asp-controller="Pedidos" class="btn"><i class="fa fa-check"></i>&nbsp;&nbsp;Finalizar compra</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <div class="vazio">
            <h1 class="texto-carrinho">Não existem produtos no carrinho</h1>
            <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Ir às compras</a>
        </div>
    }
</div>