@model ToolsMarket.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = @Model.Nome;
}

<div class="container details">
    <div class="row">
        <div class="imagem col-md-6">
            <img src="~/images/produtos/@Model.Imagem" alt="@Model.Imagem" />
        </div>
        <div class="info col-md-6">
            <div>
                <h6 style="font-size: 1.1rem">@Html.DisplayFor(model => model.Nome)</h6>
            </div>
            <div style="padding: 15px 0; font-size: .8rem; border-bottom: 1px solid #dbdee1">
                @Html.DisplayNameFor(model => model.Marca)
                <strong class="fw-bolder">@Html.DisplayFor(model => model.Fornecedor.Nome)</strong>
            </div>
            <div class="pt-3 pb-3">
                <strong class="fs-2 text-warning" style="font-size: .9rem;">R$ @Html.DisplayFor(model => model.ValorUnitario)</strong>
                <p class="forma-pgt" style="font-size: .7rem!important;">ou <strong>@Model.QuantidadeParcelas x</strong> de <strong>@Model.ValorParcela.ToString("C")</strong> sem Juros</p>
            </div>
            <div class="comprar">
                <div class="action">
                    <form method="post">
                        <input type="hidden" value="@Model.Id" name="id" />
                        <input class="qtd" type="text" name="qtd" value="1" placeholder="1" />
                        <button type="submit" asp-action="Adicionar" asp-controller="Pedidos" class="btn">Comprar</button>
                    </form>
                </div>
                <div>
                    <span style="font-size: .7rem">@Html.DisplayNameFor(model => model.Status)</span>
                    <strong style="font-size: .9rem; font-weight: bold; color: #fdb827;">@Html.DisplayFor(model => model.Status)</strong>
                </div>
                <div>
                    <strong style="font-size: .9rem; font-weight: bold; color: #fdb827;">Aproveite!</strong>
                    <span style="font-size: .7rem">Restam apenas <strong>@Html.DisplayFor(model => model.Quantidade)</strong> unidades</span>
                </div>
            </div>
            <div class="frete">
                <div class="frete-title mb-2">
                    <span><i class="fa fa-truck"></i></span>
                    <strong>CALCULAR FRETE E PRAZO</strong>
                </div>
                <div class="frete-input">
                    <input name="cep" type="tel" placeholder="Digite seu CEP" maxlength="9" />
                    <button type="submit" class="btn">calcular</button>
                </div>
            </div>
        </div>
    </div>
    <div class="descricao col-12">
        <h5 class="fw-normal mb-4">DESCRIÇÃO DO PRODUTO</h5>
        <div class="col-sm-12" contenteditable="true">
            @Html.Raw(Model.Descricao)
        </div>
    </div>
</div>
